.page-header-breadcrumb {
    list-style: none;
    display: flex;
    column-gap: .5rem;
}

.breadcrumb-item {
    font-family: montserratBold;
    font-size: .9rem;
    color: #555;
}

.breadcrumb-item a {
    color: #0d5cbd;
    text-decoration: none;
}

.breadcrumb-item:not(:last-of-type)::after {
    content: ' > ';
    margin-left: 0.5rem;
}

.in-pending-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    margin-top: 3.5rem;
}

.in-pending-item {
    border: 3px solid var(--warning-500);
    padding: 1.5rem;
    border-radius: 1rem;
}

/* .in-pending-header {
    display: flex;
    justify-content: space-between;
} */

.in-pending-left {
    display: flex;
    row-gap: .3rem;
    flex-direction: column;
}

.in-pending-id {
    font-size: .8rem;
}

.in-pending-name {
    font-weight: 600;
}

.in-pending-phone {
    font-size: .8rem;
}

.in-pending-body {
    margin-top: 1.3rem;
    font-size: .9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.primary__link__btn {
    background-color: var(--warning-500);
}

.in-pending-category {
    font-size: .8rem;
    font-style: italic;
}

.in-pending-category::before {
    content: "- ";
}

.in-pending-date {
    font-size: .7rem;
}

.in-pending-title {
    font-size: 1.2rem;
    font-family: montserratBold;
}

.in-pending-footer {
    margin-top: 1.5rem;
}
