@font-face {
    font-family: montserrat;
    src: url('../../fonts/Montserrat/static/Montserrat-Regular.ttf')
}

@font-face {
    font-family: montserratBlack;
    src: url('../../fonts/Montserrat/static/Montserrat-Black.ttf')
}

@font-face {
    font-family: montserratBold;
    src: url('../../fonts/Montserrat/static/Montserrat-Bold.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #007236;
    --primary-50: #ecfff5;
    --primary-100: #d3ffe8;
    --primary-200: #aaffd3;
    --primary-300: #69ffb2;
    --primary-400: #21ff8a;
    --primary-500: #00f269;
    --primary-600: #00ca53;
    --primary-700: #009e44;
    --primary-900: #026532;
    --primary-950: #003919;

    --secondary: #e0c90b;
    --secondary-50: #fdfee8;
    --secondary-100: #fafdc4;
    --secondary-200: #fafc8c;
    --secondary-300: #faf64a;
    --secondary-400: #f7e818;
    --secondary-600: #c7a307;
    --secondary-700: #9f7609;
    --secondary-800: #835d10;
    --secondary-900: #704c13;

    --tertiary: #b91212;
    --blue: #0d5cbd;
    --blue-light: #edfaff;
}

body {
    overflow-x: hidden;
    font-family: montserrat;
}

.container {
    margin: 1.2rem 1rem;
}

.section-title-container {
    display: flex;
    column-gap: .5rem;
    align-items: center;
    margin-bottom: 1rem;
}

.o-logo img{
    width: 1.8rem;
}

.section-title {
    font-size: 1.5rem;
    font-family: montserratBlack;
    margin: 0;
}

.invalid-feedback {
    font-size: .8rem;
    font-weight: 700;
    color: var(--tertiary);
}

@media only screen and (min-width: 992px) {
    .container {
        margin: 2rem 7rem;
    }
}
